/* property - upper */
.box.normal_area.list_item .upper {
	position: relative;
	background-color: dimgray;
}

/* property upper - rentability : position and basic style */
.box.normal_area.list_item .upper .indicator.mail,
.box.normal_area.list_item .upper .indicator.rentability {
	position: absolute;
	z-index: 100;
	top: 10px;
	left: 10px;
	font-size: 24px;
} 

/* property upper - rentability : good, med, bad */
.box.normal_area.list_item.property .upper .indicator.rentability.good {
	color: green;
} 

.box.normal_area.list_item.property .upper .indicator.rentability.med {
	color: yellow;
} 

.box.normal_area.list_item.property .upper .indicator.rentability.bad {
	color: red;
} 

.box.normal_area.list_item.property .upper .status.indicator {
	position: absolute;
	z-index: 100;
	top: 65px;
	left: 45px;
	font-size: 40px;
	border: solid;
	margin: 0px;
	padding-right: 10px;
	padding-left: 10px;
	-webkit-transform: rotate(330deg);
	-moz-transform: rotate(330deg);
	-o-transform: rotate(330deg);
	writing-mode: lr-tb;
}

.box.normal_area.list_item.property.rentability.rented .upper .status.indicator {
	left: 45px;
	color: red;	
}


/* property favorite */
.box.normal_area.list_item.property.favorite .upper {
	position: relative;
}

.box.normal_area.list_item.property.favorite .upper .indicator.rating {
	position: absolute;
	z-index: 100;
	top: 10px;
	left: 10px;
	color: red;
	font-size: 24px;
}

.box.normal_area.list_item.property.favorite .upper .indicator.right {
	position: absolute;
	z-index: 100;
	top: 10px;
	right: 10px;
	color: red;
	font-size: 24px;
}

/* property - middle */

.box.normal_area.list_item .middle ul,
.box.normal_area.list_item .middle h3
 {
	padding: 0px;
	vertical-align: middle;
	padding-top: 4px;
	padding-left: 10px;
	margin: 0px;
}

.box.normal_area.list_item .middle h3 {
	color: gray;
} 

.box.normal_area.list_item .middle ul {
	color: darkgray;
} 

/* middle - display */
.box.normal_area.list_item .middle .display li {
	padding-top: 0px;
} 

/* middle - actions */
.box.normal_area.list_item.property .middle .actions li {
	padding-top: 4px;
} 


.box.normal_area.list_item.property .middle .actions li:hover {
	color: dimgray;
} 

/* lower */

.box.normal_area.list_item .lower div {
	padding-top: 6px;	
	padding-bottom: 6px;		
}

.box.normal_area.list_item .lower h4 {
	padding-left: 10px;
	margin: 0px;
	display: inline;
	vertical-align: middle;	
	font-size: 16px;
}

/* lower - actions */

.box.normal_area.list_item .lower ul.actions {
	margin: 0px;
	margin-right: 6px;
	float: right;	
}

.box.normal_area.list_item .lower ul.actions > li {
	margin-right: 4px;
	color: silver;
	font-weight: bold;
}

/* lower action specializations */

.box.normal_area.list_item.property .lower ul.actions > .action.mail.unread {
	color: yellow;
} 

.box.normal_area.list_item.property .lower ul.actions > .action.favorite.on {
	color: red;
} 

.box.normal_area.list_item.property .lower ul.actions > .indicator.rentability.good {
	color: green;
} 

.box.normal_area.list_item.property .lower ul.actions > .indicator.rentability.med {
	color: yellow;
} 

.box.normal_area.list_item.property .lower ul.actions > .indicator.rentability.bad {
	color: red;
} 

.box.normal_area.list_item.package .lower ul.actions > li.info {
	color: blue;
} 

/* Contact options */

.box.normal_area.list_item.contact_options h3 {
	color: orange;
	padding: 0px;
	vertical-align: middle;
	padding-top: 4px;
	padding-left: 10px;
} 





