.message.selectable:hover {
	border: 3px solid gray;
	cursor: pointer;
}

.threads,
#system-message-list,
#tenant-message-list {
	float: right;
	margin-bottom: 20px;
	margin-top: 0px;
}

.threads,
#landlord-message-list {
	float: left;
	margin-bottom: 20px;
	margin-top: 0px;

}

ul.thread, .threads {
	padding: 0px;
}

.threads li.message {
	margin-bottom: 10px;
}

.threads li.message:last-child {
	margin-bottom: 0px;
}


li.message {
	list-style: none;
	min-height: 170px;
	max-width: 834px;
	min-width: 834px;
	background-color: white;	

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
    overflow: hidden;

    border: 3px solid transparent;
}

li.new_message {
	background-color: orange;
}

li.landlord_message {
	background-color: dimgray;
}

.message_date h5 {
	color: dimgray;
	font-size: 18px;
	text-align: left;
	margin-left: 10px !important;
	padding: 10px;
	margin: 0px;
}
.landlord.thread .message_date h5 {
	text-align: right;
	margin-right: 10px;
}

li.new_message .message_date h5 {
	color: black;

}

#landlord-message-list .message_date h5 {
	color: orange;
}


.message_text {
	min-height: 130px;
	max-width: 650px;
	min-width: 650px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
	background-color: lightgray;

	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
    overflow: hidden;

    display: inline;
    float: left;
}

.landlord.thread .message_text {
	float: right;
}

.message_content {
	height: 140px;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

.message_text p {
	font-size: 18px;
	margin: 20px;
	text-align: justify;
	color: dimgray;
}

.message_profile {
	max-width: 100px;
	min-height: 130px;
	margin-bottom: 20px;
	margin-right: 10px;
	margin-left: 10px;

	background-color: white;

	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
    overflow: hidden;

    display: inline;
    float: right;
}

.landlord.thread .message_profile {
	float: left;
}


.message_profile img {
	max-width: 100px;
	min-height: 100px;

	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
    height: 50px;
    overflow: hidden;

    display: inline;
}

.message_profile .sender_name h6 {
	font-size: 12px;
	color: dimgray;
	margin: 1px;
	text-align: center;
}


/* message_text_new */

.message_text_new textarea {
	min-width: 610px;
	min-height: 200px;

	font-size: 18px;
	font-family: times;
	padding: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	color: dimgray;

	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
    overflow: auto;

    display: inline;
    float: left;

    background-color: lightgray;
}

.landlord.thread .message_text_new {
	float: right;
}

#send-button {
	clear: both;	
}


#send-button button {
	width: 130px;
	height: 45px;
	display: block;	
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: 20px;
}

.landlord.thread #send-button button {
	margin-right: 20px;
	margin-left: auto;
}

/* tenant_message_box_in_list */
.stats {
	color: dimgray;
	font-size: 18px;
	text-align: left;
	margin-left: 10px !important;
	padding: 10px;
	padding-left: 0px;
	margin: 0px !important;
}

.stats h5 {
	display: inline;	
}

.stats i.favorite_on {
	color: red;
}

.stats i.icon-arrow-left {
	color: yellow;
}

/* system_message_box_in_list */

.system_message .message_profile {
	background-color: dimgray;
}

.system_message .message_profile h6 {
	color: silver;
	font-size: 16px;
}

.system_message .message_text h3 {
	font-size: 22px;
	margin-top: 20px;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: justify;
	color: dimgray;
}

.system_message .message_text p {
	margin-top: 10px;
}
