footer.bar,
header.bar {
	width: 100%;
	height: 70px;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #C4C4C4 0%, #000000 20%, #404040 80%, #1F1F1F 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #C4C4C4 0%, #000000 20%, #404040 80%, #1F1F1F 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #C4C4C4 0%, #000000 20%, #404040 80%, #1F1F1F 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #C4C4C4), color-stop(0.2, #000000), 
						color-stop(0.8, #404040), color-stop(1, #1F1F1F));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #C4C4C4 0%, #000000 20%, #404040 80%, #1F1F1F 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #C4C4C4 0%, #000000 20%, #404040 80%, #1F1F1F 100%);

	display: box; 
	display: -webkit-box; 
	display: -moz-box; 
	-webkit-box-align: center; 
	-moz-box-align: center; 
	box-align: center;
}